/* General styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: powderblue;
    animation: fadeIn 1s ease-in-out; /* Add fade-in animation to body */
}

header {
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to bottom, #3983d8, #f11ef1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out; /* Add fade-in animation to main */
}

/* Form styling */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('arrow.png') no-repeat right center / 15px 15px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-group label {
    flex: 0 0 30%;
    margin-right: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #070606;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add smooth transition */
}

button:hover {
    background-color: #b32400;
}

/* Optimized navbar styling */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

/* Media Queries */
@media screen and (min-width: 1024px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
}

/* Footer styling */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
    animation: fadeIn 1s ease-in-out; /* Add fade-in animation to footer */
}

footer p {
    margin: 0;
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
